[2020-02-10 22:37] boboosterhof opened #1 "App crash by install"
The app immediately indicates after installation that the app has been closed due to a crash.!
![IMG_7243](https://user-images.githubusercontent.com/60585365/74196739-259e7580-4c5e-11ea-94b2-2807d524ccea.PNG)

DSM 6.2.2-24922 Update 4
Surveillance Station 8.2.6-6009
Homey 3.2.1
app 3.2.0.441

[2020-02-11 08:10] Marc1979 opened #2 "Motion detection not working"
Hello, great app btw.
Have installed it since last week, but don't get the motion detection working. If I enable it in the app I get an error " no rule found". If i login onto the dsm dashboard of surveillance station then I see the tasks in the task manager. Further everything else is working well. Already restarted the app, homey and the NAS

[2020-02-11 12:13] marcschut002 commented on #2
Hi @Marc1979, thank you for your feedback. Could you give me some more details about Homey version, DSM version and Surveillance Station version? Could you also look at the endpoint (url) for the action in the taskmanager? (edit task and go to the action tab). Does that url make sense? It should point to your Homey's local address.

[2020-02-11 20:43] marcschut002 commented on #2
@Marc1979 , I have found the problem en put a fix in version 1.0.1. Please remove all tasks after the update and try to disable/enable the motion detection on the camera in Homey.

[2020-02-11 21:11] marcschut002 commented on #1
Hi @boboosterhof . I have pushed a new version 1.0.2 to the Appstore that might fix this problem.

[2020-02-11 21:50] Marc1979 commented on #2
Ok, thanks!
Was just typing a message to you about the software version of the NAS and Homey, but will try the new version.. (was at work, so could not answer earlier)

[2020-02-11 22:03] Marc1979 commented on #2
Have installed the new version thru CLI, can comfirm that it is working now.
Is it possible to change/add the class of device so you will get an exclamation mark in the card of the homey APP when there is a movement (now you only see that the zone is getting active)

[2020-02-18 20:15] marcschut002 commented on #2
@Marc1979 great! I will take a look at the exclamation mark. Looks like a nice feature.

[2020-02-18 20:16] marcschut002 commented on #1
Hi @boboosterhof, did 1.0.2 resolve the issue?

[2020-02-25 19:30] ghost commented on #1
Sorry for the late response! It works, thanks!

[2020-02-25 19:30] #1 closed

[2020-02-25 20:31] marcschut002 commented on #2
I will close this issue as the original issue is resolved.

[2020-02-25 20:31] #2 closed

[2020-03-06 18:02] wesllleyyy opened #3 "Certificaat"
Hallo.

Ik heb alles geprobeerd en gezocht maar geen oplossing kunnen vinden. Als ik de gegevens onvoer krijg ik de melding Dat het eerste certificaat niet correct is.

Heb je enig idee wat ik nog kan doen?

Groetjes!

[2020-03-06 22:08] marcschut002 commented on #3
Hoi @wesllleyyy,

Krijg je deze melding alleen wanneer je connect met https?

Wanneer je verbinding maakt met https zal het certificaat geldig moeten zijn.
Dit werkt enkel op basis van een hostname en niet op ipadres. (ik neem aan dat je deze combinatie gebruikt?)

Een oplossing kan dan zijn
- om te connecten via http en een ipadres
of
- een hostname te gebruiken met certificaat
(https://www.synol

[2020-03-06 22:40] wesllleyyy commented on #3
Hallo.

Nu je dat typt klinkt het eigenlijk wel logisch. Nu heb ik geprobeerd om het via http te doen met het lokale address en poort 5000(5001 krijg ik een unexepecter token in Jason error(volgensmij logisch is dan de https poort))  en dan gaat hij inderdaad zoeken maar hij blijft zoeken rondje blijft draaien doe ik nog iets fout?

Bedankt voor de snelle hulp!

Groetjes

[2020-03-06 22:58] wesllleyyy commented on #3
Ow had een typ foutje het werkt hartelijk bedankt!

[2020-03-07 13:18] Cultytpc opened #4 "Homey White screen"
After installing this app, and adding a camera in favorites, my Homey app only shows White screen.. so now my Homey is useless unless i reset it completely.

I cannot remove the app either.

Can you help?

[2020-03-07 18:00] marcschut002 commented on #4
Hi @Cultytpc , I am not sure what this white screen means, but I will try to investigate. Do you have an iphone? Than you probably can kill the app ( https://support.apple.com/en-us/HT201330 ), start it again and you can delete this app.

[2020-03-07 18:30] Cultytpc commented on #4
Hi,

It is suddenly working again.. i’ve tried everything, and gave up, and now the app works again, and i could remove the app.

It was on iOS yes.

Thanks anyway

Mvh André Madsen

[2020-03-08 15:40] #3 closed

[2020-03-08 15:43] marcschut002 commented on #4
Strange thing, but I'm glad to hear that it's working again. I will close this issue for now, but please let me now if it happens again.

[2020-03-08 15:43] #4 closed

[2020-04-14 11:15] Shakesbeard opened #6 "Is it possible to get the option to disable the certificates check?"
Hi there,
So I wanted to connect Homey with the cameras over the local network directly. I'd rather like to avoid the "cloud detour". But for that to work I would need an option to ignore the certificates check as the certs used are only valid when the connection comes by fqdn in my case. That name however is not resolved locally because my router is not capable of such a feature.

So the connecti

[2020-04-14 13:31] marcschut002 commented on #6
Hi @Shakesbeard , The default setting for Homey is to validate these certificates. (secure by default). The reason there is no ignore option for this package is that it would mean that I would have to use 3rd party packages that make this app use more resources.
The easiest way to solve this when you don't have a valid certificate is to use http iso https.

[2020-04-14 14:07] Shakesbeard commented on #6
Solved. Missed to change the port for http.

[2020-04-14 14:07] #6 closed

[2020-05-03 15:15] Renevanhugten opened #7 "Login probleem"
Beste Marc,
Ik heb een inlog probleem wat doe ik fout?
Of moet ik nog iets instellen op de server van synology.

![19A1E09D-482D-4A1D-A765-BC63267B0AC0](https://user-images.githubusercontent.com/29755580/80917765-71465400-8d61-11ea-85cd-5d1c92431bf8.jpeg)

Vriendelijke groet.
Rene.

[2020-05-03 16:51] marcschut002 commented on #7
Hoi Rene,

Kan veel verschillende redenen zijn waarom je deze melding krijgt, maar gezien deze foutmelding weet Homey je wel het ipadres van je Synology te achterhalen.
- De firewall op de Synology kan een issue zijn. Weet niet of je die aan hebt staan of specifiek heb ingesteld dat maar een enkel apparaat hier verbinding mee mag maken?
- Anders kan het te maken hebben met instellingen op de gebru

[2020-05-03 21:48] Renevanhugten commented on #7
Dank voor je snelle reactie.

Ik heb inderdaad de firewall even uit geschakeld, maar dat gaf geen resultaat.
Ik log in als Admin en gebruik de surveiliance app van synology al jaren en log met deze gegevens ook in. En als Admin log ik ook in op deze app.
Het enige wat ik zelf nog kan bedenken is dat er bijzondere karakters in mijn password zijn verwerkt.

Tevens homey draait met versie 4.2.0 rc11

[2020-05-04 15:30] marcschut002 commented on #7
Een wachtwoord met vreemde tekens kan ik me niet voorstellen, dan was het bij mij ook niet gelukt :-) .

Ik heb de app nog niet getest met 4.2.0 rc11. Hierin zit wel een grote wijziging kwa nodejs versie, maar ik ben iets te afhankelijk van een degelijke Homey om te upgraden naar een rc versie, maar het zou wellicht kunnen.

Iets anders om nog uit te sluiten is MFA of 2FA op het account. Heb je di

[2020-05-04 15:39] Renevanhugten commented on #7
Dank voor je berichtje,

Zat net even te testen met een ander password zonder vreemde tekens.
Dat gaf geen resultaat.

Wat bedoel je precies met MFA en 2FA

2stap verificatie staat uit.

Mvg rene

Verstuurd vanaf mijn iPad

[2020-05-04 17:43] marcschut002 commented on #7
2FA = 2 stapsverificatie inderdaad.

Zou je eens willen testen via het lokale ip adres (+http en poort 5000) in plaats van de hostname?

[2020-05-04 18:48] Renevanhugten commented on #7
Beste Marc,

Dit werkt perfect.
Ik hou de updates in de gaten voor de toekomst.
Dank voor je hulp en mooie app.
Met vriendelijke groet
René van Hugten

Verstuurd vanaf mijn iPad

[2020-05-04 18:58] marcschut002 commented on #7
@Renevanhugten dank voor jouw medewerking!
Ik zal de nieuwe release ook zeker in de gaten houden om te voorkomen dat iedereen dit probleem gaat krijgen.

[2020-06-26 11:49] #7 closed

[2020-07-19 07:10] thezahir1 opened #8 "Unsecure connection with Synology"
This app connects to the Synology by sending username and password in plain text in the URL query string. Seems highly unsecure! Quite vulnerable, if you ask me.

[2020-07-19 08:59] marcschut002 commented on #8
Hi @thezahir1 , I use Synology's own APi guidelines. ( https://global.download.synology.com/download/Document/Software/DeveloperGuide/Package/SurveillanceStation/All/enu/Surveillance_Station_Web_API.pdf ) Why is that insecure?

[2020-07-19 09:15] thezahir1 commented on #8
Vulnerable to man in the middle attacks. Also, who guarantees that your app isn't storing these credentials somewhere? Not everyone will be skilled to code review your app.
Quite strange indeed that these are apparently Syno's own guidelines. What kind of security policy is that,for a well-known IT brand as Synology. At least they should be using OAuth or a API key technique.

[2020-07-19 15:42] marcschut002 commented on #8
I understand the man in the middle attack and when you connect your device via 'http' the risk is even higher. I hope that most people that have a Synology realise that. The only thing I can do to make the security a little better is to try to POST the login data instead of doing a GET. ( thought I have tried that before, but I will try it again).
When you pair your device this is the only place w

[2020-07-20 09:31] thezahir1 commented on #8
hi @marcschut002 post instead of get certainly sounds like a good start (if possible indeed). I am not doubting your sincere intentions but from the user's standpoint, you will probably understand how unsafe it looks when seeing both your username and password to your NAS (and therefore personal content) in plain text displayed in someone else's app. Certainly not according to today's standard.
Ha

[2020-11-16 11:29] geurtd opened #9 "Camera does not supply video feed and motion detected"
Hi i have 3 cameras in my Surveillance Station
2 work fine, but one was added bit there is no video feed, also motion detection does not work on this one camera.
This is a Foscam FI9900EP.
A Foscam C1 and an Escam (installed as ONVIF) work fine.

[2020-11-22 18:50] marcschut002 commented on #9
Hi @geurtd , I am not sure why your third camera doesn't work with this app. Did you try to remove and add it again?
Do you have the correct license for Synology to support more than 2 camera's?

[2020-11-23 07:32] geurtd commented on #9
Hi Marc,
Yes i did, and yes i have an extra licence. All 3 camera's function properly in surveillance station

[2020-12-12 21:18] marcschut002 commented on #9
I am not sure what the issue might be. I will try to add some debug info in the next release to figure this one out.

[2020-12-14 16:55] geurtd commented on #9
Hello Marc,

Thanks for investigating.

Van: marcschut002 <notifications@github.com>
Verzonden: zaterdag 12 december 2020 22:18
Aan: marcschut002/athom.com.synology.ss <athom.com.synology.ss@noreply.github.com>
CC: geurtd <geurt@geurt.com>; Mention <mention@noreply.github.com>
Onderwerp: Re: [marcschut002/athom.com.synology.ss] Camera does not supply video feed and motion detected (#9)

I am not s

[2021-02-09 18:57] marcschut002 commented on #9
Hi @geurtd , I have released a new test version (3.0.0).
This version could solve your problem.

https://homey.app/nl-nl/app/com.synology.ss/Surveillance-Station-2/test/

Would you like to test this release?

[2021-02-17 08:46] jaccovaneck opened #10 "API Login failed"
Homey en Synology op hetzelfde netwerk, met of zonder firewall dezelfde melding: API login failed.

Inlog met http, ipnr, poort en juist admin account

Versie surveillance: 8.2.8-6335
Versie DSM: DSM 6.2.3-25426 Update 3

[2021-02-17 09:03] #10 closed

[2021-02-17 09:03] jaccovaneck commented on #10
Wrong password :-(

[2021-02-21 20:19] Sen-Sai opened #11 "Adding camera successfull, but no action rules for motion in syn nas"
Diagnostic code : d88b6e9c-8420-4cc1-a8d5-cc0845a7d411

Version : 3.0.1
NAS DSM version :  6.2.3-25426 Update 3
Surv. version : 8.2.8-6335
Home 5.0

Synology NAS adding adds two action rules for home on/off, but adding camera does not add any action rules.

[2021-02-22 08:21] marcschut002 commented on #11
Hi @Sen-Sai, do you have motion detection enabled in the camera/device settings?
If so, please disable the setting, save the settings and then enable it again (and save the settings). This will trigger the creation of the motion detection rules for the camera on the NAS.

[2021-02-22 13:27] Sen-Sai commented on #11
Thanks for the suggestion, but it doesn't work. Motion detection is set to be done by Surveillance station, not the camera itself as it can't, but from what I've read that should work. So I've turned it off and on again. No rules were made, also removed from Homey and re-added the camera made no difference.

[2021-02-22 19:27] marcschut002 commented on #11
That should work indeed, but did you check the settings on the NAS or on the Homey?
Maybe this topic will help? https://community.athom.com/t/app-surveillance-station-2/32737/38?u=bookmarc

[2021-02-23 20:24] Sen-Sai commented on #11
I checked the setting on the NAS. So disabled camera motion detection in NAS, turned them on again. No new rules.
I create a flow in Homey on camera motion detection, but it is never triggered as there are no rules on the NAS.
I'll check your link now.

So yes.. Motion detection is "Actief" in de advanced settings of the camera in the Homey app. And no, no motion rules for the camera when switchin

[2021-02-23 20:36] Sen-Sai commented on #11
No same issue unfortunately.

[2021-02-24 07:57] marcschut002 commented on #11
Strange thing. I am working on a new release that validates the action rules and if they are not there it will add them to the NAS. When I am finished with the test release I will let you know.

[2021-03-14 18:20] Sen-Sai commented on #11
New version seems to have fixed this! Many thanks!

[2021-03-14 18:20] #11 closed

[2021-04-09 12:38] mostlyflawles opened #12 "Error message "... is not in the cert's list""
I get this error message when I try to add a Surveillance Station.

"request to https://192.168.1.1:5001/webapi/auth.cgi failed, reason: Hostname/IP does not match certificate's altnames: IP: 192.168.1.1 is not in the cert's list"

Please advise what could be wrong.

[2021-04-09 12:41] mostlyflawles commented on #12
Get this message if I use the synology.me address.
request to https://X.synology.me:5001/webapi/auth.cgi failed, reason: connect ECONNREFUSED 111.1.1.1:5001

[2021-04-09 19:26] marcschut002 commented on #12
Hi @mostlyflawles , Certificates only work on hostnames and not with local ip addresses. With an ipaddress you can only connect if you select http iso https.

Your second message probably has to do with some firewall rules in your router that blocks port 5001 or does not forward that port to your NAS.

[2021-04-12 20:30] mostlyflawles commented on #12
I went for http on port 5000, didn't think http was an option on my NAS. Thanks!

[2021-04-13 06:40] marcschut002 commented on #12
Thanks for the reply, enjoy the app! I will close this issue.

[2021-04-13 06:40] #12 closed

[2021-04-22 07:10] felho001 opened #13 "request to https"
When i try to add synology first in app settings auth failed reason connect econnrefused. How can fix this if I use synology DScam app work same user and password and no have this user 2 fakt auth. I changed the port standerd 5001 and after say this.

![synology](https://user-images.githubusercontent.com/45117257/115673564-12506500-a34d-11eb-9f19-96fb3e26e83d.jpg)
how fix this? thanks

[2021-04-22 13:39] marcschut002 commented on #13
Hi @felho001, the error says that there is a problem with the certificate on that domain. The Homey app validates (default for Homey) the certificate.
I think the DScam App does not validate the certificate when connecting to your DS. It is a setting at the login page in the DSCam app (bottom left). That might explain the different results.

[2021-04-22 13:53] felho001 commented on #13
and how can fix this. Synology surveillance station use synology cert that is set on synology nas. Hat can I do?

[2021-04-22 14:24] marcschut002 commented on #13
https://www.synology.com/en-global/knowledgebase/DSM/help/DSM/AdminCenter/connection_certificate
I use the Let's Encrypt method described in the manual.

[2021-04-22 15:30] felho001 commented on #13
ok thanks i will try

[2021-04-22 16:42] felho001 commented on #13
now works thanks for help

[2021-04-23 06:49] marcschut002 commented on #13
Great! Enjoy the app!

[2021-04-23 06:49] #13 closed

[2021-04-23 06:50] marcschut002 commented on #8
I will close this issue sinds there is nothing I can do at this moment to improve this. When Synology support OAuth the right way I will implement this.

[2021-04-23 06:50] #8 closed

[2021-07-06 11:26] Jansrt opened #14 "Snapshot Option for Flows"
Hi Marc,
I would like to ask a quick question.
On the Homey website, a snapshot function is mentioned for this app.
I can see a snapshot clicking on the camera (device icon).
However, I do not see an option to select making a snapshot while making a flow.
Should this be an option? If not; I would to have it as an option.
Best,
Rob

[2021-07-06 13:42] marcschut002 commented on #14
Hi @Jansrt , I will take a look at it!

[2021-07-06 17:02] marcschut002 commented on #14
If you need the snapshot in a flow you can use the snapshot tag that is available.

![Screenshot 2021-07-06_19-00-49-982](https://user-images.githubusercontent.com/38959867/124639596-a4680400-de8c-11eb-99ec-c7edb96680f0.png)

[2021-07-06 21:55] Jansrt commented on #14
Thank you for your quick answer! I have implemented the necessary changes successfully.

[2021-07-31 16:09] Thijzelt opened #15 "Login problem"
Hallo,

Allereerst bedankt voor het maken van deze app👌 waardering voor de tijd en energie die je erin gestoken hebt.

Ik krijg helaas het niet werkend en waarschijnlijk doe ik iets verkeerd. Als ik de synology probeer aan te melden dan geeft ie een melding.  De user en password zouden goed moeten zijn, en ik heb het ook geprobeerd door een andere port in te instellen op de nas alleen voor surveil

[2021-07-31 19:26] marcschut002 commented on #15
Ik kan niet goed zien welke poort je hebt gebruikt, maar voor http zou dat standaard 5000 moeten zijn. Heb je die ook geprobeerd?

[2021-07-31 21:37] Thijzelt commented on #15
Ik had de port gewijzigd op de nas naar 9900 voor http omdat 5000 niet werkte.
Maar ik heb alles teruggezet alleen helaas zonder resultaat, heb geen firewall aanstaan dus daar kan het aan liggen

Kunnen het andere instellingen zijn? Heb een gebruiker áangemaakt, helaas zonder resultaat

[2021-07-31 21:37] #15 closed

[2021-08-02 12:45] marcschut002 commented on #15
Heb je het ook met een admin gebruiker geprobeerd? De gebruiker die je aanmaakt zal in ieder geval in de groep administrators moeten zitten anders kunnen de juiste instellingen niet gemaakt worden vanuit Homey om goed te kunnen samenwerken met de Surveillance Station / Synology.

[2021-08-02 12:46] marcschut002 commented on #15
welke versie van DSM en Surveillance Station heb je draaien?

[2021-08-02 21:01] Thijzelt commented on #15
De versie van surveillance station is
8.2.9-6459

DSM
6.2.4-25556

Ik heb de gebruiker gecontroleerd en staat in administrors, ik kan ook inloggen bij surveillance station met deze gegegens. Ik heb geprobeerd de port te wijzigen op om die rechtstreeks te benaderen helaas zonder succes via de homey
Zijn er misschien nog tips om te proberen?

[2021-08-04 06:22] marcschut002 commented on #15
De versies zouden volgens mij geen punt moeten zijn. Dit zijn voor versie 7 DSM de meest recente versies en ik heb niets aangepast om het werkend te krijgen op versie 7. Zit je Homey (met wifi verbinding) wel in hetzelfde netwerk als je Synology (bekabeld) ?

[2021-09-08 08:21] A333333 commented on #14
In my case I can make a snapshot but seems not be available. I can only select pictures from 'gallery'. I am
Struggling with it for months.
Am I missing something?![image](https://user-images.githubusercontent.com/41258710/132473291-2aa00e5c-dadc-45ab-8d48-290619cca0e2.jpeg)

Adri

[2021-09-09 13:39] marcschut002 commented on #14
Hi @A333333 ,
I don't think you have selected the right push notification action card.  You should select the one with "tag" on it.
![Screenshot 2021-09-09_15-34-53-317](https://user-images.githubusercontent.com/38959867/132696269-339426cb-54a1-4ad7-a741-be67ba4e652c.png)

[2021-09-10 16:07] A333333 commented on #14
Hi Marc,

There is no other way to select. It was working, suddenly the tag field was missing.
![image](https://user-images.githubusercontent.com/41258710/132883837-5e32acce-f1f9-4a0d-aba4-d6b1d8823041.jpeg)
![image](https://user-images.githubusercontent.com/41258710/132883876-d9b29527-4284-4c2b-8876-4ddd34f6890f.jpeg)
![image](https://user-images.githubusercontent.com/41258710/132883896-2c96754f-

[2021-09-28 17:55] A333333 commented on #14
Hi,

After last update of your app, the tag was working again.

Grtz, Adri

Van: marcschut002 ***@***.***>
Verzonden: donderdag 9 september 2021 15:39
Aan: marcschut002/athom.com.synology.ss ***@***.***>
CC: Adri Huizing ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [marcschut002/athom.com.synology.ss] Snapshot Option for Flows (#14)

Hi @A333333<https://github.com/A333333> ,
I don't think you

[2021-10-12 19:06] Hulliee opened #16 "Cannot set HomeMode on or off from a flow"
Hi,
I'm having trouble setting HomeMode On or Off from a Honey flow:
`cannot read property 'setHomeMode' of undefined`
Directly in the app it works.
I'm connected from Homey to my Synology with an admin user and I'm using DSM7.01

[2021-10-12 19:23] marcschut002 commented on #16
Hi @Hulliee , you are right. This is a bug. I will fix this asap.

[2021-10-13 14:17] marcschut002 commented on #16
You can try the new version (4.0.4) with a fix for the home mode action card.
https://homey.app/nl-nl/app/com.synology.ss/Surveillance-Station-2/test/

[2021-10-13 14:55] Hulliee commented on #16
@marcschut002 Yes, this version is working! Good one!

[2021-10-13 14:58] Hulliee commented on #16
@marcschut002 A "beer" is on it's way! ;-)

[2021-10-13 15:00] marcschut002 commented on #16
@Hulliee, I appreciate it! Thanks for the beer!

[2021-12-07 13:08] HQOFIQ opened #17 "No Connection"
Hi,
got my brandnew Homey Pro yesterday and installed all various devices - only one I wasn't able to connect to is my Synology Surveillance Station, trying both the Surveillance Station and Surveillance Station 2 App from Homey. Since my Surveillance Station is working fine and is reachable from within and outside my home via web/smartphone I am not able to see where the problem is located. Using

[2021-12-07 13:13] marcschut002 commented on #17
It is hard to tell from a distance, but most of the time a timeout means that the Homey could not connect to the hostname and port you provided. Maybe a firewall thing. Does it work when you fill in the LAN IP address and port number + http (iso https) ?

[2021-12-07 13:20] HQOFIQ commented on #17
Hi - using the LAN IP gives back this:
"invalid json response body at http://x.x.x.x:5001/webapi/auth.cgi reason: Unexpected token < in JSON at positon 0" (where x.x.x.x is my IP that I deleted from the statement)
(used http not https)
PS: Thanks for the quick response!

[2021-12-07 13:23] marcschut002 commented on #17
Could you try port 5000 iso 5001? (5000 is for http, 5001 is https) . And what version of Homey, this app and surveillance station do you have?

[2021-12-07 13:40] HQOFIQ commented on #17
Tried port 5000, no connection for my Homey Pro (2.0)
"Failed to connect, please make sure the settings are correct"

Versions:
Homey Pro (early 2019): 7.2.0
Homey App (Android 10): 6.9.3.827
and Homey Web App (Windows 11): no Version mentioned
Surveillance Station 2: 4.0.4
Synology Surveillance Station: 8.2.10-7310
DSM: 7.0-41890

[2021-12-07 13:48] marcschut002 commented on #17
Versions are oké so that is not the problem. Your Homey is connected over wifi . Are you sure that the Homey can reach the NAS or any other device in your local network?

[2021-12-07 13:51] HQOFIQ commented on #17
Yes, everything added without a problem on WiFi and I can also login to my Synology NAS and Surveillance Station eezy peezy ...

[2021-12-07 14:03] marcschut002 commented on #17
I am sorry but I am running out of options.. Maybe someone else has an idea what it could be?

[2022-01-01 14:52] konradhuebner commented on #17
@HQOFIQ I just added this app to my Homey as well and it does work. My ideas, as I saw the error when trying HTTP over the HTTPS port and vice versa:
* please check if you have selected HTTP or HTTPS at the top.
* For port 5000 you MUST select HTTP
* For port 5001 you MUST select HTTPS and have a valid certificate

[2022-01-01 14:54] konradhuebner opened #18 "Allow insecure SSL connections"
My Synology is not available from the internet, and as such it is also not easily possible to create a long-running SSL certificate, and LetsEncrypt requires exposure to the web. My request would be to add a setting "allow insecure SSL connection" so that I can use the default certificate from Synology. This is better than unencrypted traffic in my home network.

[2022-01-01 21:55] HQOFIQ commented on #17
@konradhuebner can you please tell me if you connect via a "YOURNAME.synology.me" or an IP address? And if you use the ...synology.me - does this work in the browser as a standalone link as well? because it doesnt for me ...

[2022-01-01 22:01] konradhuebner commented on #17
@HQOFIQ I connect through the IP address inside my local network. Works in the browser as well like this. As Homey executes everything locally, you can use this variant without issues.

[2022-01-03 20:29] anderhau2 commented on #17
I have a similar problem. Cannot connect and I'm getting "Could not get Surveillance Station info".

I'm using HTTP, port 5000 and IP for my Synology Box. Have tried the other "Synology Surveillance Station" app for Homey and it connects and find my cameras, but it wont push snapshots in my flows. So I wanted to give this app a try.

[2022-01-07 10:11] HQOFIQ commented on #17
@marcschut002 I was finally able to connect but only by using my wifes synology account (which has access to the surveillance station but not as admin just as a user) - works so far. The only difference to my account is, that she has no 2FA active with her synology account - so you might want to look into that, seems to be the problem for connecting because hers worked instantly with your app!

[2022-01-07 12:30] konradhuebner commented on #17
@HQOFIQ this is no real surprise, as the plugin will have hard times to get a proper and in-time 2FA authorization whenever it might restart. Maybe you create an account with no remote login rights, that is only used for surveillance station, and use that within Homey?

[2022-01-07 13:12] marcschut002 commented on #17
@HQOFIQ 2FA should not be a problem, if you provide credentials for your account with the app and your account has 2FA enabled, you get another form to fill in your code. With valid credentials and 2FA the app receives 2 codes from the Synology to keep communicating even when the Synology or Homey reboots. There should be something else with your account that prevents te app to get a proper connec

[2022-04-12 10:10] mtudor commented on #17
I had the same issue as @HQOFIQ, with the same error message "Unexpected token <".  For me, I was connecting to a Surveillance Station with a hostname that was in the subject alternative name but NOT the main subject name.  When I changed the hostname to the one in the main subject name, everything worked as expected.

For example, a certificate with:

Subject Name: CN=my.host.com
SAN: DNS Name=my

[2022-04-30 10:32] Kur022 opened #19 "The event of movement on the camera is not working"
My flows are no working because the events from my cameras (movement detected) are not triggered.

[2022-05-03 18:18] Wouter-Berman opened #20 "Snapshot no longer available in flow"
Hi Marc,
Previously (I don't know which version) it was possible to trigger a snapshot in a flow and send the resulting image as a push notification. In the current version the snapshot action creates a snapshot in Surveillance Station but the resulting image is no longer available as tag in the flow. Therefore, it is no longer possible to sent the image in a push notification. I used this feature

[2022-05-04 06:37] marcschut002 commented on #20
Hi @Wouter-Berman , I would have to look into that. The tag should allways be available.

[2022-05-05 10:39] Wouter-Berman commented on #20
I am using this scenario:
![image](https://user-images.githubusercontent.com/73526294/166907048-036b45b0-29d1-4f7a-9c97-7f57440666e0.png)
And when I try to select the image for the push notification I can only select the album cover of my Sonos appliance:
![image](https://user-images.githubusercontent.com/73526294/166907338-c801e7ec-e8e3-4a1e-b863-2f3b4c960c8e.png)

[2022-05-05 10:46] Wouter-Berman commented on #20
Hi Marc,
The issue is solved. Restarting the app made the snapshot available in the flow again.
I am sorry for bothering you with this.
Kind regards,
Wouter Berman

[2022-05-05 10:46] #20 closed

[2022-06-15 09:02] mostlyflawles opened #21 "Disable/enable camera"
Disable camera flow does not work me, the cameras is not disbled. I can disable the camera in the Surveillance app without any problem.

Any idea ideas how to troubleshoot?

[2022-06-18 09:13] mostlyflawles commented on #21
It works to enable and disable the devices in this Homey app manually. But regardless if it's disabled or not the device is enabled is Synology surveillance station 2.
And as stated above, having Disable/enable camera in a flow does not have any impact on the status of the device.

[2022-06-18 12:01] marcschut002 commented on #21
Hi @mostlyflawles , thank you for the report. This should work,  will try to fix this.

[2022-06-18 12:15] marcschut002 commented on #21
@mostlyflawles could you please reboot the homey app and check if this works?

[2022-06-18 13:05] mostlyflawles commented on #21
Did now and reboot did not solve issue with 'flow'.
I've tried disable one camera in the Synology desktop app and that camera in Homey turns up as 'disabled'.
But still, a camera which is manually disabled in Homey app is still enabled in SSS.

[2022-06-28 18:24] marcschut002 commented on #21
I have tested it with my own setup and have no problem with the flow. Is this the only action that is not working with the camera?

[2022-07-04 06:26] mostlyflawles commented on #21
I 've been having issues with the connection between this app and NAS, I fixed it today and had to switch to local ip and http. Now the enable/disable function works for me.
I can't recall exactly what setup I was on before when it didn't work.

So, if in trouble, goto local ip and http. I guess. =)

[2022-07-10 12:52] mostlyflawles opened #22 "Status of home mode not reported correctly"
This test flow does not report correct status of home mode.
![image](https://user-images.githubusercontent.com/25802524/178145516-6aad8a14-7b59-4ec2-bda3-57f17f9698ec.png)

If I open Surveillance Station device and change home mode, the status is reported correct.
But If I change home mode in Surveillance Station Windows Client or with a flow, the status is not reported correctly.
![image](https:/

[2022-08-12 09:20] mostlyflawles commented on #22
Nobody else having issue with home mode?

[2022-09-08 09:18] bckp commented on #22
Same for me... I will try to figure out what is wrong and how to fix this and send MR

[2022-09-08 09:19] bckp commented on #19
Try to repair actions... as Homey speaks with NVR thru actions...

[2022-09-08 09:25] bckp commented on #17
I belive you must connect to the Survilliance station, not DSM itself, so port is 9900 or 9901 by default...

BTW: So far, from my tests, it is best to use separate account for homey, without 2FA and restricted login just for homey local IP address, that way im safe that nobody else can login on that account only homey can.

[2022-09-08 10:31] bckp commented on #22
Hmmm, so update, i repair actions and now state changes correctly

[2022-11-01 22:27] #17 closed

[2022-11-01 22:27] #18 closed

[2022-11-01 22:27] #19 closed

[2022-11-01 22:27] #21 closed

[2022-11-01 22:27] #22 closed

[2022-11-23 20:34] Jansrt opened #23 "Cannot connect Synology NAS or camera's since Homey's update t0 8.1.0"
The app has worked perfectly for many years, but I cannot connect Synology NAS or camera's since Homey's update to 8.1.0. I have tried all different kinds of things, but nothing does fix it.

[2022-11-23 20:40] martijnpoppen commented on #23
Hey,
Please send a diagnostic report to me otherwise I can't help you ;)

[2022-11-23 20:45] Jansrt commented on #23
Thanks for your quick response.

This is the code:fd34f335-30f1-43f8-b627-de6c92bff78c.

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Martijn Poppen ***@***.***>
Datum: woensdag, 23 november 2022 om 21:40
Aan: martijnpoppen/com.synology.ss ***@***.***>
CC: Rob T.A. Janssen ***@***.***>, Author ***@***.***>
Onderwerp: Re: [martijnpoppen/com.synology.ss] Cannot connect S

[2022-11-23 20:51] martijnpoppen commented on #23
Hey,
Ik zie wel wat error. Heb je al geprobeerd de app te herstarten?

[2022-11-23 20:55] Jansrt commented on #23
Meerdere keren. Alle apparaten ook verwijderd en opnieuw proberen te installeren. Homey ook meerdere keren herstart. Alle andere apps werken wel.

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Martijn Poppen ***@***.***>
Datum: woensdag, 23 november 2022 om 21:51
Aan: martijnpoppen/com.synology.ss ***@***.***>
CC: Rob T.A. Janssen ***@***.***>, Author ***@***.***>
Onder

[2022-11-23 21:13] martijnpoppen commented on #23
Voor zover ik kan zien is er of een probleem dat je een cloud connectie wilt maken of je logingegevens zijn niet juist.

Ik zie timeouts op je url namelijk

[2022-11-23 21:19] Jansrt commented on #23
De inloggegevens kloppen, maar ik krijg inderdaad geregeld time-outs. Ik heb zowel via lokaal IP-adres proberen in te loggen, als via een cloud-adres. Het maakte niet uit of ik daarbij de instelling cloud-adres / lokaal adres koos. Kun je hier iets mee?

Ik heb een gigabit ethernetverbinding binnen en naar buiten. WiFi is ook meer dan snel genoeg. Geen issues met ander IT in huis.

Rob T.A. Jansse

[2022-11-23 21:50] martijnpoppen commented on #23
Enige wat ik kan zien is dat je login niet geaccepteerd wordt door de app.

Klopt de port wel? 5001 is meestal de port van de DSM en niet van Surveillance Station

[2022-11-23 22:06] Jansrt commented on #23
Ik log in met mijn admin account dat overal bij kan. En het heeft altijd goed gewerkt zo.

Inloggen met mijn Surveillance account via dezelfde poort werkt ook niet.

De standaard poorten voor Surveillance Station van Synology zijn ook 5000 en 5001.

Het heeft altijd gewerkt, waarom nu niet meer?

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Martijn Poppen ***@***.***>

[2022-11-23 22:13] martijnpoppen commented on #23
Dat kan ik helaas niet verklaren waarom het nu niet werkt.
Enige wat ik zie is dat je url niet geaccepteerd wordt.

Er zijn geen aanpassingen geweest in de Homey app.

Zou je een herstart kunnen doen en dan een nieuw diagnostisch rapport sturen?

[2022-11-23 22:19] Jansrt commented on #23
Een aantal weken geleden had ik het probleem ook, maar toen was het een onvolledige update van Homey. Opgelost toen met Athom.

Nu update gecontroleerd.

Herstart van de app of Homey?

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Martijn Poppen ***@***.***>
Datum: woensdag, 23 november 2022 om 23:13
Aan: martijnpoppen/com.synology.ss ***@***.***>
CC: Rob T.A. Janssen *

[2022-11-23 22:24] martijnpoppen commented on #23
Herstart van de app zou voldoende moeten zijn

[2022-11-23 22:27] Jansrt commented on #23
Nieuwe code: c1f73bae-0610-4f73-8854-b8656df25768.

Dank!

________________

Rob T.A. Janssen
Mobile: +31 6 54 70 88 65

Sent from my mobile device.

Op 23 nov. 2022 om 23:24 heeft Martijn Poppen ***@***.***> het volgende geschreven:

﻿

Herstart van de app zou voldoende moeten zijn

—
Reply to this email directly, view it on GitHub<https://github.com/martijnpoppen/com.synology.ss/issues/23#issuec

[2022-11-23 22:36] martijnpoppen commented on #23
Thanks,
Ik zie dat je inderdaad geen apparaat meer erin hebt staan.
zou je kunnen proberen om de surveillance station toe te voegen en daarna een nieuw rapport sturen?

Dan kan ik zien wat er tijdens dat process gebeurt. 😄

[2022-11-23 22:47] Jansrt commented on #23
a2a0390f-067e-4028-9871-bb3f6acd04de. Sorry.

________________

Rob T.A. Janssen
Mobile: +31 6 54 70 88 65

Sent from my mobile device.

Op 23 nov. 2022 om 23:36 heeft Martijn Poppen ***@***.***> het volgende geschreven:

﻿

Thanks,
Ik zie dat je inderdaad geen apparaat meer erin hebt staan.
zou je kunnen proberen om de surveillance station toe te voegen en daarna een nieuw rapport sturen?

Dan ka

[2022-11-23 22:51] martijnpoppen commented on #23
Lijkt erop dat het gedeeltelijk werkt.

Kan je eens proberen een lokale connectie te maken. (192.168.178.4) op port: 5000 en protocol: http

[2022-11-23 23:06] Jansrt commented on #23
Heb ik eerder vele keren geprobeerd. Dan krijg ik een foutmelding dat het adres niet in een bepaalde vrijstellingslijst voorkomt. Is dat genoeg?

________________

Rob T.A. Janssen
Mobile: +31 6 54 70 88 65

Sent from my mobile device.

Op 23 nov. 2022 om 23:51 heeft Martijn Poppen ***@***.***> het volgende geschreven:

﻿

Lijkt erop dat het gedeeltelijk werkt.

Kan je eens proberen een lokale con

[2022-11-23 23:07] Jansrt commented on #23
Sorry http recentelijk nog niet getest. Ga ik nu doen.

________________

Rob T.A. Janssen
Mobile: +31 6 54 70 88 65

Sent from my mobile device.

Op 23 nov. 2022 om 23:51 heeft Martijn Poppen ***@***.***> het volgende geschreven:

﻿

Lijkt erop dat het gedeeltelijk werkt.

Kan je eens proberen een lokale connectie te maken. (192.168.178.4) op port: 5000 en protocol: http

—
Reply to this email di

[2022-11-23 23:13] Jansrt commented on #23
Op die manier kan ik de NAS en de camera’s wel installeren. Ik ga morgen verder testen. OK? Dank!

________________

Rob T.A. Janssen
Mobile: +31 6 54 70 88 65

Sent from my mobile device.

Op 23 nov. 2022 om 23:51 heeft Martijn Poppen ***@***.***> het volgende geschreven:

﻿

Lijkt erop dat het gedeeltelijk werkt.

Kan je eens proberen een lokale connectie te maken. (192.168.178.4) op port: 5000

[2022-11-23 23:22] martijnpoppen commented on #23
Helemaal goed! :)

[2022-11-23 23:24] Jansrt commented on #23
Een voor de zekerheid; de app staat nu het werkt nog wel op cloud url. Misschien dat dat tot (extra) verwarring bij het uitzoeken leidt.

Nogmaals dank!

Rob

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Rob T.A. Janssen ***@***.***>
Datum: donderdag, 24 november 2022 om 00:13
Aan: martijnpoppen/com.synology.ss ***@***.***>
CC: martijnpoppen/com.synology.ss ***@***.***

[2022-11-24 10:06] martijnpoppen commented on #23
Hey,
Even ter check lukte het met port 5000 en http wel?

[2022-11-24 10:09] Jansrt commented on #23
Ja en het werkt vandaag nog steeds zonder problemen. Ik werd er gisteren voor deze oplossing een paar keer uitgegooid.

Het blijft vreemd dat het jarenlang wel gewerkt heeft.

Zou het t.z.t. wel weer via een beveiligde verbinding kunnen?

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Martijn Poppen ***@***.***>
Datum: donderdag, 24 november 2022 om 11:06
Aan: martijnpop

[2022-11-24 12:57] martijnpoppen commented on #23
Voor zover ik zie denk ik dat het door het certificaat komt. Ik zal een optie toevoegen in de app om SSL certificaat errors te negeren

[2022-11-24 12:59] Jansrt commented on #23
Super!

Rob T.A. Janssen

Tel.: +31 79 360 02 11
Mobile.: +31 6 54 70 88 65

Van: Martijn Poppen ***@***.***>
Datum: donderdag, 24 november 2022 om 13:58
Aan: martijnpoppen/com.synology.ss ***@***.***>
CC: Rob T.A. Janssen ***@***.***>, Author ***@***.***>
Onderwerp: Re: [martijnpoppen/com.synology.ss] Cannot connect Synology NAS or camera's since Homey's update t0 8.1.0 (Issue #23)

Voor zover ik